div {
	float: left;
	height: 100px;
	width: 100px;
	border: 1px solid black;
/*	background-image: url("https://www.royalcanin.com/~/media/Royal-Canin/Product-Categories/cat-adult-landing-hero.ashx");
*/}