body {
	font-family: 'Eczar', serif;
	font-size: 8vh;
	color: #232323;
	line-height: 10vh;
}

a {
	text-decoration: none;
}

a:hover {
	color: #ffe500;
	transition: all .2s ease-in-out;
}

.exercises {
	color: #0065ff;
} 

.projects {
	color: #13f9c4;
}

span {
	color: #232323;
}