h1 {
	float: right;
	margin-right: 5%
}

.box {
	display: flex;
	justify-content: center;
	flex-wrap: wrap;
	margin-top: 10%;
	margin-left: 5%;
	margin-right: 30%;
}

.container {
	height: 250px;
	width: 250px;
	overflow: scroll;
	float: left;
/*	position: absolute;
*/}

img {
	width: 1000px;
 /*	transform: translate(-30px, -30px);*/
 }

.square {
	margin-top: 75px;
	margin-left: 200px;
	border: 1px solid black;
	height: 180px;
	width: 180px;
	z-index: 10;
	position: relative;
	overflow: hidden;
}