.box {
	display: flex;
	justify-content: center;
	flex-wrap: wrap;
	margin-top: 10vh;
	width: 100vw;
}

.container {
	height: 700px;
	width: 700px;
	overflow: scroll;
	position: relative;
}

.two {
	height: 300px;
	width: 300px;
	overflow: scroll;
	position: relative;
	float: left;
}

.three {
	height: 100px;
	width: 100px;
	overflow: scroll;
	position: relative;
	float: right;
}

img {
	position: absolute;
/*	height: 80vh;*/
}

.square {
	margin-top: 75px;
	margin-left: 200px;
	border: 1px solid white;
	height: 180px;
	width: 180px;
	z-index: 10;
	position: absolute;
	overflow: hidden;
}