h1 {
	font-family: 'Bungee Shade', cursive;
	text-align: center;
	font-size: 5em;
}

h2 {
	font-family: 'Bungee Shade', cursive;
	font-size: 2em;
}

body {
	font-family: 'Ubuntu', sans-serif;
}

div {
	float: left;
	padding: 3em;
}

.column {
	width: 70%;
	float: left;
	padding: 3em;	
}