html {
	font-family: Avenir, 'Noto Sans', sans-serif;
	font-size: 1em;
	letter-spacing: .02em;
}

body {
	background-image: url("../img/Z_transparent.jpg");
	background-position: 70% 70%;
	background-repeat: none;
	background-attachment: fixed;
	background-size: 100%;
}

@media (max-width: 890px) {
  body {
    background-size: 150%;
    font-size: .9em;
  }
}

@media (max-width: 660px) {
  h1 {
  	font-size: 1.7em;
  }
}

h1 {
	margin-left: 9%;
	margin-top: 7%;
}

.Links_1 {
	color: #4495d1;
	margin-right: 5%;
	margin-left: 20%;
}

a {
	text-decoration: none;
	color: #4495d1;
}

.container {
	margin-left: 20%;
	margin-right: 20%;
	margin-bottom: 20em;
}

.Categories {
	letter-spacing: .7em; 
	margin-bottom: -.25em;
	margin-top: 4em;
}

hr {
	margin-bottom: 2em;
}

.Name {
	font-weight: bold;
	display: inline-block;
}

.Description {
	display: inline-block;
	color: #4495d1;
}

.Location {
	font-style: italic;
	color: grey;
}

.Text {
	margin-bottom: 2em;
}